//  MEDIA DEVICES
// ========================================= */
@screen-sm-min:          768px; 
@screen-md-min:          992px;  
@screen-lg-min:          1200px;


//  NAVIGATION WIDTH
// ========================================= */
@nav-left-width-xs:      0px;
@nav-left-width-sm:      0px;
@nav-left-width-md:      250px;
@nav-left-width-lg:      270px;


//  FONTS
// ========================================= */
@font-default:           'Lato', Arial, sans-serif;
@font-heading:           'Oswald', Helvetica, Arial, serif;


//  COLORS
// ========================================= */
@color-black:            #000000;
@color-dark:             #222;
@color-dark-light:       #212121;//#292929;
@color-white:            #FFFFFF;
@color-blue:             #0088CC;
@color-red:              #FF1919;
@color-orange:           #FF6600;
@color-yellow:           #ffb400;
@color-green:            #21ba49;
@color-purple:           #5A3989;
@color-navy:             #495d7f;
@color-brown:            #EB8F2D;
@color-gray:             #666;
@color-gray2:            #FAFAFA; 
@color-gray-light:       #f7f8fa; //#f7f7f7;
@color-gray-lighter:     #FEFEFE;

@color-base:             #444; 
@color-default:          @color-red;

//  PATHS
// ========================================= */
@img-path:               "../img";
